# Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import plotly.figure_factory as ff
import plotly.express as px
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn import metrics
from sklearn.impute import KNNImputer
from sklearn import preprocessing
from numpy import isnan
import pickle

# Importing Dataset

In [ ]:
data = pd.read_csv("Autism-Adult-Data.csv")

# EDA

In [ ]:
data.head()

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,1,0,0,1,1,0,...,f,White-European,no,no,United States,no,6,18 and more,Self,NO
1,2,1,1,0,1,0,0,0,1,0,...,m,Latino,no,yes,Brazil,no,5,18 and more,Self,NO
2,3,1,1,0,1,1,0,1,1,1,...,m,Latino,yes,yes,Spain,no,8,18 and more,Parent,YES
3,4,1,1,0,1,0,0,1,1,0,...,f,White-European,no,yes,United States,no,6,18 and more,Self,NO
4,5,1,0,0,0,0,0,0,1,0,...,f,?,no,no,Egypt,no,2,18 and more,?,NO

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               704 non-null    int64
 1   A1_Score         704 non-null    int64
 2   A2_Score         704 non-null    int64
 3   A3_Score         704 non-null    int64
 4   A4_Score         704 non-null    int64
 5   A5_Score         704 non-null    int64
 6   A6_Score         704 non-null    int64
 7   A7_Score         704 non-null    int64
 8   A8_Score         704 non-null    int64
 9   A9_Score         704 non-null    int64
 10  A10_Score        704 non-null    int64
 11  age              704 non-null    object
 12  gender           704 non-null    object
 13  ethnicity        704 non-null    object
 14  jundice          704 non-null    object
 15  austim           704 non-null    object
 16  contry_of_res    704 non-null    object
 17  used_app_before  704 non-null    object
 18  result           704 non-null    int64
 19  age_desc         704 non-null    object
 20  relation         704 non-null    object
 21  Class/ASD        704 non-null    object
dtypes: int64(12), object(10)
memory usage: 121.1+ KB

In [ ]:
data.isnull().sum()

id                 0
A1_Score           0
A2_Score           0
A3_Score           0
A4_Score           0
A5_Score           0
A6_Score           0
A7_Score           0
A8_Score           0
A9_Score           0
A10_Score          0
age                0
gender             0
ethnicity          0
jundice            0
austim             0
contry_of_res      0
used_app_before    0
result             0
age_desc           0
relation           0
Class/ASD          0
dtype: int64

In [ ]:
df = data.replace('?', np.nan)

In [ ]:
df.isnull().sum()

id                  0
A1_Score            0
A2_Score            0
A3_Score            0
A4_Score            0
A5_Score            0
A6_Score            0
A7_Score            0
A8_Score            0
A9_Score            0
A10_Score           0
age                 2
gender              0
ethnicity          95
jundice             0
austim              0
contry_of_res       0
used_app_before     0
result              0
age_desc            0
relation           95
Class/ASD           0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               704 non-null    int64
 1   A1_Score         704 non-null    int64
 2   A2_Score         704 non-null    int64
 3   A3_Score         704 non-null    int64
 4   A4_Score         704 non-null    int64
 5   A5_Score         704 non-null    int64
 6   A6_Score         704 non-null    int64
 7   A7_Score         704 non-null    int64
 8   A8_Score         704 non-null    int64
 9   A9_Score         704 non-null    int64
 10  A10_Score        704 non-null    int64
 11  age              702 non-null    object
 12  gender           704 non-null    object
 13  ethnicity        609 non-null    object
 14  jundice          704 non-null    object
 15  austim           704 non-null    object
 16  contry_of_res    704 non-null    object
 17  used_app_before  704 non-null    object
 18  result           704 non-null    int64
 19  age_desc         704 non-null    object
 20  relation         609 non-null    object
 21  Class/ASD        704 non-null    object
dtypes: int64(12), object(10)
memory usage: 121.1+ KB

# Handling categorical data

In [ ]:
le = preprocessing.LabelEncoder()

In [ ]:
df = df.dropna()

In [ ]:
df['age'] = le.fit_transform(df['age'])
df['gender'] = le.fit_transform(df['gender'])
df['ethnicity'] = le.fit_transform(df['ethnicity'])
df['jundice'] = le.fit_transform(df['jundice'])
df['austim'] = le.fit_transform(df['austim'])
df['contry_of_res'] = le.fit_transform(df['contry_of_res'])
df['used_app_before'] = le.fit_transform(df['used_app_before'])
df['age_desc'] = le.fit_transform(df['age_desc'])
df['relation'] = le.fit_transform(df['relation'])
df['Class/ASD'] = le.fit_transform(df['Class/ASD'])

In [ ]:
df

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,1,0,0,1,1,0,...,0,9,0,0,57,0,6,0,4,0
1,2,1,1,0,1,0,0,0,1,0,...,1,3,0,1,11,0,5,0,4,0
2,3,1,1,0,1,1,0,1,1,1,...,1,3,1,1,49,0,8,0,2,1
3,4,1,1,0,1,0,0,1,1,0,...,0,9,0,1,57,0,6,0,4,0
5,6,1,1,1,1,1,0,1,1,1,...,1,5,1,0,57,0,9,0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,699,1,1,1,1,1,1,1,1,1,...,0,6,0,0,5,0,10,0,4,1
699,700,0,1,0,1,1,0,1,1,1,...,0,9,0,0,44,0,7,0,4,1
700,701,1,0,0,0,0,0,0,1,0,...,1,2,0,0,33,0,3,0,2,0
702,703,1,0,0,1,1,0,1,0,1,...,1,7,0,0,40,0,6,0,4,0
703,704,1,0,1,1,1,0,1,1,1,...,0,9,0,0,17,0,8,0,4,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 609 entries, 0 to 703
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               609 non-null    int64
 1   A1_Score         609 non-null    int64
 2   A2_Score         609 non-null    int64
 3   A3_Score         609 non-null    int64
 4   A4_Score         609 non-null    int64
 5   A5_Score         609 non-null    int64
 6   A6_Score         609 non-null    int64
 7   A7_Score         609 non-null    int64
 8   A8_Score         609 non-null    int64
 9   A9_Score         609 non-null    int64
 10  A10_Score        609 non-null    int64
 11  age              609 non-null    int64
 12  gender           609 non-null    int64
 13  ethnicity        609 non-null    int64
 14  jundice          609 non-null    int64
 15  austim           609 non-null    int64
 16  contry_of_res    609 non-null    int64
 17  used_app_before  609 non-null    int64
 18  result           609 non-null    int64
 19  age_desc         609 non-null    int64
 20  relation         609 non-null    int64
 21  Class/ASD        609 non-null    int64
dtypes: int64(22)
memory usage: 109.4 KB

# KNN IMPUTATION

In [ ]:
X = df.drop(['Class/ASD'], axis=1)

In [ ]:
y = df['Class/ASD']

In [ ]:
X

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation
0,1,1,1,1,1,0,0,1,1,0,...,9,0,9,0,0,57,0,6,0,4
1,2,1,1,0,1,0,0,0,1,0,...,7,1,3,0,1,11,0,5,0,4
2,3,1,1,0,1,1,0,1,1,1,...,10,1,3,1,1,49,0,8,0,2
3,4,1,1,0,1,0,0,1,1,0,...,18,0,9,0,1,57,0,6,0,4
5,6,1,1,1,1,1,0,1,1,1,...,19,1,5,1,0,57,0,9,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,699,1,1,1,1,1,1,1,1,1,...,10,0,6,0,0,5,0,10,0,4
699,700,0,1,0,1,1,0,1,1,1,...,8,0,9,0,0,44,0,7,0,4
700,701,1,0,0,0,0,0,0,1,0,...,17,1,2,0,0,33,0,3,0,2
702,703,1,0,0,1,1,0,1,0,1,...,18,1,7,0,0,40,0,6,0,4
703,704,1,0,1,1,1,0,1,1,1,...,9,0,9,0,0,17,0,8,0,4

In [ ]:
imputer = KNNImputer()

In [ ]:
imputer.fit(X)

KNNImputer()

In [ ]:
Xtrans = imputer.transform(X)

In [ ]:
Xtrans

array([[  1.,   1.,   1., ...,   6.,   0.,   4.],
       [  2.,   1.,   1., ...,   5.,   0.,   4.],
       [  3.,   1.,   1., ...,   8.,   0.,   2.],
       ...,
       [701.,   1.,   0., ...,   3.,   0.,   2.],
       [703.,   1.,   0., ...,   6.,   0.,   4.],
       [704.,   1.,   0., ...,   8.,   0.,   4.]])

In [ ]:
print('Missing: %d' % sum(isnan(Xtrans).flatten()))

Missing: 0

# Model Building

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
X_train

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation
587,588,1,1,1,1,1,1,0,1,1,...,4,1,1,0,0,11,0,9,0,4
103,104,1,1,0,0,1,0,1,1,0,...,9,1,0,0,0,26,0,5,0,4
614,615,1,1,0,1,0,0,0,1,0,...,4,0,7,0,0,26,0,5,0,4
521,522,1,1,1,1,1,0,0,1,0,...,10,0,9,0,0,32,0,7,0,4
213,214,1,0,1,1,0,0,0,0,0,...,17,0,9,0,0,57,0,4,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,1,0,0,1,0,0,1,1,0,...,10,0,9,1,0,5,0,5,0,4
10,11,1,1,1,1,1,1,1,1,1,...,16,1,9,0,0,57,0,10,0,3
425,426,1,0,0,0,0,0,1,1,0,...,6,1,8,0,0,55,0,4,0,1
205,206,1,1,1,1,1,1,1,1,1,...,37,1,9,0,0,57,0,10,0,4
648,649,1,0,1,1,1,0,0,0,0,...,14,0,4,0,0,55,0,4,0,4

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X_train, y_train)
predictions = LR.predict(X_test)
val3 = (accuracy_score(y_test, predictions)*100)
print("*Accuracy score for LR: ", val3, "\n")
print("*Confusion Matrix for LR: ")
print(confusion_matrix(y_test, predictions))
print("*Classification Report for LR: ")
print(classification_report(y_test, predictions))

*Accuracy score for LR:  97.54098360655738

*Confusion Matrix for LR:
[[85  3]
 [ 0 34]]
*Classification Report for LR:
              precision    recall  f1-score   support

           0       1.00      0.97      0.98        88
           1       0.92      1.00      0.96        34

    accuracy                           0.98       122
   macro avg       0.96      0.98      0.97       122
weighted avg       0.98      0.98      0.98       122